In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a dictionary to hold agriculture data
agri_data = {
    'Crop': ['Wheat', 'Corn', 'Rice', 'Soybean'],
    'Yield_per_Acre': [3, 4.5, 5, 2.8],
    'Country': ['USA', 'China', 'India', 'Brazil']
}

# Creating a DataFrame from the agriculture data dictionary
agri_df = pd.DataFrame(agri_data)

# Printing the created DataFrame
print(agri_df)

      Crop  Yield_per_Acre Country
0    Wheat             3.0     USA
1     Corn             4.5   China
2     Rice             5.0   India
3  Soybean             2.8  Brazil

In [3]:
agri_df.iloc[1:3]

   Crop  Yield_per_Acre Country
1  Corn             4.5   China
2  Rice             5.0   India

In [4]:
# Creating a NumPy array to represent data for different tree species
tree_array = np.array([[30, 25], [60, 30], [25, 20]])

# Defining the column names for the DataFrame
columns = ['Max_Height_m', 'Growth_Rate_cm_per_year']

# Defining the index for the DataFrame which represents the names of the tree species
index = ['Maple', 'Pine', 'Birch']

# Creating a DataFrame from the NumPy array above
tree_df = pd.DataFrame(data=tree_array, index=index, columns=columns)

# Printing the created DataFrame
print(tree_df)

       Max_Height_m  Growth_Rate_cm_per_year
Maple            30                       25
Pine             60                       30
Birch            25                       20

In [5]:
tree_df.loc['Pine'][['Max_Height_m', 'Growth_Rate_cm_per_year']]

Max_Height_m               60
Growth_Rate_cm_per_year    30
Name: Pine, dtype: int32

In [6]:
# Loading data from a CSV file named 'Animals.csv' into a DataFrame
animals_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv')

# Displaying the first 5 rows of the DataFrame
animals_df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

In [7]:
# Create a new DataFrame based on a condition
Critically_endangered = animals_df[animals_df['Conservation Status'] == 'Critically Endangered']

# Displaying the newly created DataFrame
Critically_endangered

     Species  Average Lifespan (Years)      Habitat    Conservation Status
9  Orangutan                        35  Rainforests  Critically Endangered