In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:kipsang@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [3]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |           17.54            |        184.39       | 2699700.0 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |           17.79            |        137.28       | 2699700.0 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |           18.04            |        166.81       | 2699700.0 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |           18.28            |        179.34       | 2699700.0 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |           18.51            |        181.67       | 2699700.0 |       4.80       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+

In [4]:
%%sql

SELECT
    AVG(Est_gdp_in_billions)
FROM
    Economic_Indicators
WHERE
    Time_period = 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+--------------------------+
| AVG(Est_gdp_in_billions) |
+--------------------------+
|        301.176825        |
+--------------------------+

In [5]:
%%sql

SELECT
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM
    Economic_Indicators AS econ
INNER JOIN
    Basic_Services AS service
ON
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------+-------------+---------------------+-------------------------------------+
| Country_name | Time_period | Est_gdp_in_billions | Pct_managed_drinking_water_services |
+--------------+-------------+---------------------+-------------------------------------+
| Afghanistan  |     2015    |        20.00        |                67.00                |
| Afghanistan  |     2016    |        18.02        |                69.67                |
| Afghanistan  |     2017    |        18.90        |                72.33                |
| Afghanistan  |     2018    |        18.42        |                75.33                |
| Afghanistan  |     2019    |        18.90        |                78.00                |
| Afghanistan  |     2020    |        20.14        |                80.33                |
|   Algeria    |     2015    |        165.98       |                92.00                |
|   Algeria    |     2016    |        160.03       |                93.00                |
|   Algeria    |     2017    |        170.10       |                93.00                |
|   Algeria    |     2018    |        174.91       |                93.00                |
+--------------+-------------+---------------------+-------------------------------------+
Truncated to displaylimit of 10.

In [6]:
%%sql

SELECT
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM
    Economic_Indicators AS econ
INNER JOIN
    Basic_Services AS service
ON
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
WHERE
    econ.time_period = 2020
    AND service.Pct_managed_drinking_water_services < 90
    AND econ.Est_gdp_in_billions > (SELECT
                                        AVG(Est_gdp_in_billions)
                                    FROM
                                        Economic_Indicators
                                    WHERE
                                        Time_period = 2020);

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+--------------+-------------+---------------------+-------------------------------------+
| Country_name | Time_period | Est_gdp_in_billions | Pct_managed_drinking_water_services |
+--------------+-------------+---------------------+-------------------------------------+
|   Nigeria    |     2020    |        432.20       |                77.33                |
+--------------+-------------+---------------------+-------------------------------------+